.App {
  text-align: center;
}

.App:last-child {
  margin-bottom: 70px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.porfolio-wrapper {
  display: flex;
  justify-content: space-around;
}

/* About Page */

.about-page {
  text-align: left;
}

.about-head {
  display: flex;
}

.about-photo {
  position: relative;
  margin-right: 30px;
}

.about-photo img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
}

.skills {
  display: flex;
}

.skills li {
  list-style: url(star.svg);
}

.skills div {
  margin: 0 20px;
  width: 50%;
}

.featured {
  text-align: left;
}

/* Contact Me Page */

.email-form .email-message {
  min-height: 100px;
}

.email-form label {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .about-page {
    text-align: center;
  }

  .about-photo img {
    width: 200px;
    width: 60%;
    border-radius: 0;
    padding: 8px;
    border: 1px solid #00f;
  }

  .about-photo {
    margin-bottom: 20px;
  }

  .about-head {
    flex-flow: column;
    justify-content: center;
  }

  .bio,
  .skills {
    text-align: left;
  }

  .App:last-child {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 992px) {
  .skills {
    display: block;
  }

  .skills div {
    width: initial;
  }
}